<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/500.jsp</location>
  </error-page>
  
    <error-page>
  	<error-code>404</error-code>
  	<location>/error/404.jsp</location>
  </error-page>
  
  
  <servlet>
    <servlet-name>AddCustServlet</servlet-name>
    <servlet-class>com.blueice.web.AddCustServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ListCust</servlet-name>
    <servlet-class>com.blueice.web.ListCust</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updataCust</servlet-name>
    <servlet-class>com.blueice.web.updataCust</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustInfo</servlet-name>
    <servlet-class>com.blueice.web.CustInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustDel</servlet-name>
    <servlet-class>com.blueice.web.CustDel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDel</servlet-name>
    <servlet-class>com.blueice.web.BatchDel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCustByCond</servlet-name>
    <servlet-class>com.blueice.web.ListCustByCond</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageCust</servlet-name>
    <servlet-class>com.blueice.web.PageCust</servlet-class>
  </servlet>







 

  <servlet-mapping>
    <servlet-name>AddCustServlet</servlet-name>
    <url-pattern>/servlet/AddCustServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ListCust</servlet-name>
    <url-pattern>/servlet/ListCust</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updataCust</servlet-name>
    <url-pattern>/servlet/updataCust</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustInfo</servlet-name>
    <url-pattern>/servlet/CustInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustDel</servlet-name>
    <url-pattern>/servlet/CustDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDel</servlet-name>
    <url-pattern>/servlet/BatchDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCustByCond</servlet-name>
    <url-pattern>/servlet/ListCustByCond</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageCust</servlet-name>
    <url-pattern>/servlet/PageCust</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
